{% extends '_layout.html' %}
{% block content %}


<h1>Upload Your Profile Photo</h1>

<form action="{{ url_for('users.upload') }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="user_file">Upload Your Photo</label>
    <br></br>
    <input type="file" name="user_file">
    <br></br>
    <button type="submit">Upload</button>
    
</form>

<h1>Update your detail</h1>

<form class="form-group" action="{{ url_for('users.update') }}" method="post" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
        
        
        <label for="newname">Current Name: {{current_user.name}}</label>
        <input class="form-control" type="text" name="newname" placeholder="Your new name">

        <label for="new_username">Current Username: {{current_user.username}}</label>
        <input class="form-control" type="text" name="new_username" placeholder="Your new username">

        
        
    </div>
    <button class="btn btn-primary" type="submit" value="Add" name="">Update</button>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    <li>{{ message }}</li>
    {% endfor %}

    {% endif %}
    {% endwith %}

    {% for error in errors if errors |length>0 %}
    <div class="alert alert-danger" role="alert">
        <li> {{ error }}</li>
    </div>
    {% endfor %}
</div>

{% endblock %}
