{% extends "_layout.html" %}
{% block content %}
{% for u in users %}
<div class="home">
    <div class="each-profile row">
        <div class="single-profile col-xl-2 col-lg-12">
            <div class="profile-picture">
                <a href="/users/{{u.username}}">{{u.username}}</a>
                <img id="profile-picture" src="{{u.profile_image_url}}" />
                {% if current_user != u %}
                {% if current_user in u.all_fans %}
                <form name="unfollow" action="{{ url_for('idol_fan_relationships.destroy', id=u.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button id="{{ u.id }}" class="btn unfollow-btn" type="submit">Unfollow</button>
                </form>
                {% else %}
                <form name="follow" action="{{ url_for('idol_fan_relationships.create', id=u.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button id="{{ u.id }}" class="btn follow-btn" type="submit">Follow</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="images col-xl-10 col-lg-12">
            <div class="row" id="container">
            {% for i in u.images %}
                <img class="each-image col-xs-12" src="{{i.upload_image_url}}" />
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>

    let csrf_token = "{{ csrf_token() }}";

    function ajaxSetup() {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    }

    $('.follow-btn').on('click', function (e) {
        e.preventDefault()
        console.log(e.target.id)
        ajaxSetup()
        $.ajax({
            url: `/idol_fan_relationships/${e.target.id}/follow`,
            method: 'POST',
            success: function (response) {
                $(`#${e.target.id}`)
                    .text('Unfollow')

            }
        })
    })

    $('.unfollow-btn').on('click', function (e) {
        e.preventDefault()
        ajaxSetup()
        $.ajax({
            url: `/idol_fan_relationships/${e.target.id}/unfollow`,
            method: 'POST',
            success: function (response) {
                $(`#${e.target.id}`)
                    .text('Follow')

            }
        })
    })

</script>

{% endblock %}

<!-- justify content center only at lg and below -->